 html {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .bg-light {
            background-color: #d3dccd !important;
        }

        label {
            font-weight: bold;
        }

        .center {
            text-align: center;
            color: white;
            background-color: black;
            padding: 1.5rem;
        }
        .table-part{
            width: 690px;

        }

        
  @media only screen and (max-width: 480px) {
    table {
        width:95%;
    }
    input[type=text], textarea {
        width:75%;
    }
}